body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: url('/img/bg_full.jpg') repeat;
  color: purple;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: blue;
  text-decoration: none;
}
 
a:hover {
  color: red;
  text-decoration: underline;
}

<!-- 
#main {
  width: 960px;
  margin: 0 auto;
<<<<<<< HEAD
=======
  background: #daf4f0;
>>>>>>> 565d079fe5d0c2919bf6bb41070be7ce3116c1a3
}
-->

header {
  padding: 0 10px;
}

h1 {
  margin: 0;
}
 
nav ul, ul.entries {
  list-style-type: none;
}
nav li a {
  float: left;
  margin: 5px;
}
.content {
  padding: 10px;
}
 
ul.entries li {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  background: #ececec;
  width: 600px;
}
 
ul.entries img {
  width: 600px;
}
 
ul.entries li h3 {
  position: absolute;
  bottom: -18px;
  left: 17px;
  font-size: 2em;
}
ul.entries a {
  color: blue;
}
ul.entries a:hover {
  color: red;
}
 
footer {
  font-size: 0.65em;
  text-align: center;
}
