<div id="footer" class="hidden-print">
  <section class="byline">
  <div class="content">
    <p style="text-align:center;font-size:x-small">
      Fort Worth Aviation Archive at the <a href="http://fortworthaviationmuseum.com">Fort Worth Aviation Museum</a>
      <br>3300 Ross Avenue, Fort Worth, TX  76106
      <br>Tel: 855.733.8267
			<section class="meta" style="padding-top:0px">
			<a href="mailto:{{ site.author.email }}" title="Email the Archivist">
        <i class="icon icon-envelope icon-3x"></i>
      </a>
  		</section>
		</p>
  <div>
  </section>
</div>
