<div id="footer" class="hidden-print">
  <section class="meta">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-4">
          <a href="https://facebook.com/groups/214717149257">
            <i class="icon icon-facebook icon-3x"></i>
            <div>Like us on Facebook.</div>
          </a>
        </div>
        <div class="col-lg-2 next">
          <a href="mailto:{{ site.author.email }}">
            <i class="icon icon-envelope icon-3x"></i>
            <div>
              Send us an email.
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
