<nav class="navbar navbar-fixed-top navbar-default navbar-blog" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-pages">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">{{ site.title }}</a>
  </div>

  <div class="collapse navbar-collapse navbar-pages">
    <ul class="nav navbar-nav navbar-right hidden-print thin">
      <li>
	<a class="hidden-xs" title="About Us" href="/about">
	  <i class="icon-user icon-small"></i>
	</a>
	<a class="visible-xs" title="About Us" href="/about">
	  <i class="icon-user icon-small"></i> About Us
	</a>
      </li>
	<a class="hidden-xs" title="Facebook" href="https://facebook.com/groups/214717149257">
	  <i class="icon-facebook icon-small"></i>
	</a>
	<a class="visible-xs" title="Facebook" href="https://facebook.com/groups/214717149257">
	  <i class="icon-facebook icon-small"></i> Facebook
	</a>
      </li>
      <li>
	<a class="hidden-xs" title="Email" href="mailto:{{ site.author.email }}">
	  <i class="icon-envelope icon-small"></i>
	</a>
	<a class="visible-xs" title="Email" href="mailto:{{ site.author.email }}">
	  <i class="icon-envelope icon-small"></i> Email Us
	</a>
      </li>
      <!--<li>
	<a class="hidden-xs" title="Github" href="https://github.com/{{ site.author.github }}">
	  <i class="icon-github icon-small"></i>
	</a>
	<a class="visible-xs" title="Github" href="https://github.com/{{ site.author.github }}">
	  <i class="icon-github icon-small"></i> Github
	</a>
      </li>-->
      <li>
	<a class="hidden-xs" href="/atom.xml" title="RSS">
	  <i class="icon-rss icon-small"></i>
	</a>
	<a class="visible-xs" href="/atom.xml" title="RSS">
	  <i class="icon-rss icon-small"></i> RSS
	</a>
      </li>
    </ul>
  </div>
</nav>
