<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
		<title>FTW Aviation Archive {% if page.title %} | {{ page.title }} {% endif %}</title>
	</head>

	<body>
		<div id="wrap">
			<div id="top"></div>
			<div id="content">

				<div class="header">
					<h1>FTW Aviation Archive</h1>
					<h2>Veterans Memorial Air Park, Fort Worth, TX</h2>
				</div>

				<div class="breadcrumbs">
				<a href="index.html">Home</a>  &middot;  <a href="about.html">About</a>  &middot;  <a href="contact.html">Contact</a>  &middot;  <a href="archive.html">Browse Archive</a> 
				</div>

				<div class="middle">
				{{ content }}
				</div>

				<div class="right">
					<br /><img src="img/vmaplogo.jpg">		
				</div>

			<div id="clear"></div>

			</div> <!-- content -->
			<div id="bottom"></div>

		</div> <!-- wrap -->

		<div id="footer">
			<p>Veterans Memorial Air Park 2013</p>
			<small><p>Template by <a href="http://www.minimalistic-design.com">Minimalistic Design</a></small></p>
		</div>
		<!-- Start of StatCounter Code for Default Guide -->
		<script type="text/javascript">
		//<![CDATA[
		var sc_project=9205437; 
		var sc_invisible=1; 
		var sc_security="5fae848d"; 
		var scJsHost = (("https:" == document.location.protocol) ?
		"https://secure." : "http://www.");
		document.write("<sc"+"ript type='text/javascript' src='" +
		scJsHost+
		"statcounter.com/counter/counter_xhtml.js'></"+"script>");
		//]]>
		</script>
		<noscript><div class="statcounter"><a title="create counter"
		href="http://statcounter.com/free-hit-counter/"
		class="statcounter"><img class="statcounter"
		src="http://c.statcounter.com/9205437/0/5fae848d/1/"
		alt="create counter" /></a></div></noscript>
		<!-- End of StatCounter Code for Default Guide -->
	</body>
</html>
