<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
		<title>FTW Aviation Archive {% if page.title %} | {{ page.title }} {% endif %}</title>
	</head>

	<body>
		<div id="wrap">
			<div id="top"></div>
			<div id="content">

		<div class="header">
			<h1>FTW Aviation Archive</h1>
			<h2>Veterans Memorial Air Park, Fort Worth, TX</h2>
		</div>

		<div class="breadcrumbs">
		<a href="#">Home</a> &middot; You are here
		</div>

		<div class="middle">
		{{ content }}
		</div>

<div class="right">
		
<h2>Navigation</h2>

<ul>
<li><a href="http://www.minimalistic-design.net">Minimalistic Design</a></li>
<li><a href="http://www.text-link-ads.com/?ref=22398">Monetize Your WebSite</a></li>
<li><a href="http://historyguy.h2564rt5.hop.clickbank.net/?tid=XHTMLCSS">How To Master CSS</a></li>
<li><a href="http://www.oswd.org">Open Source Web Design</a></li>
<li><a href="http://www.opendesigns.org">Open Designs</a></li>
<li><a href="http://www.openwebdesign.org">Open Web Design</a></li>
<li><a href="http://www.iollo.com">Iollo's review highway</a></li>
<li><a href="http://www.historyexplorer.net">History Timelines</a></li>
<li><a href="http://www.quakerparrot.info">Quaker Parrot</a></li>
<li><a href="http://www.moneybookersclub.com">Moneybookers Club</a></li>
</ul>
		
</div>

<div id="clear"></div>

</div>

<div id="bottom"></div>

</div>

		<div id="footer">
			<p>Veterans Memorial Air Park 2013</p>
			<p>Design by <a href="http://www.minimalistic-design.com">Minimalistic Design</a></p>
		</div>
	</body>
</html>

